.entire-app-view {
  min-width: 100%;
  min-height: 100%;
  font-family: "Raleway", sans-serif;
}

.main-header {
  font-size: 48px;
  text-align: center;
  padding-top: 40px;
}

.form-group {
  display: flex;
  width: 100%;
  padding: 40px;
  justify-content: space-between;
}

.search-btn {
  width: 20%;
  background-color: aquamarine;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
}
